<--I someone using this margin and padding on their css
    for the whole page.  I dont even think it did anything in this case-->

* {
    margin: 10;
    padding: 10;
}

body {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    height: 100%;
}

<--I was attempting to take up the entire page up with this, maybe it should be 
under the body element, or maybe it is just competely different.-->
#container {
    height: 100%;
    width: 100%;
}

<--Not sure why this is sooooo much bigger than everything else-->
header {
    background: #ebebeb;
    width: 100%;
    height: 22%;
}

nav {
    background: #ebebeb;
    width: 100%;
    height: 22%;
}

<Struggled to create a break between the Nav and the Section, padding? Margin?-->
 section {
    background: #ebebeb;
    width: 495px;
    height: 33%;
    text-align: center;
    float: left;

}

article {
    color: #ebebeb;
    background: #777;
    width: 90%;
    margin: 5px;
    text-align: center
}

h1 {
    color: #777;
    background: #ebebeb;
    width: 80%;
    margin: 10px;
    text-align: center
}

p {
    color: #777;
    background: #ebebeb;
    width: 80%;
    margin: 10px;
    text-align: center
}

aside {
    color: grey;
    background: #ebebeb;
    float: right;
    width: 495px;
    height: 22%;
}
<--This thing needs to learn its place, or I just need to learn how to put it in its place-->
footer {
    background: #ebebeb;
    width: 100%;
    height: 22%;
    padding: 10%;
    
}